<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
 
	<link rel="stylesheet" href="../static/style.css">
	<title>ChannelX</title>
  

  </head>

  <body>
 <div class="empty">
	
  </div>

  <div class="login-signup">
      	<a href="">Log in</a>
	<a>or</a>
	<a href="">Sign up</a>
  </div>


  <div role="main">
        

	<form >
		<div class="room">
			<label><b>Enter Room id</b></label>
			<input type="text" placeholder="enter room url here..." name="room-url" required>
  		</div>
	</form>

	<form>
		<div class="container">
			<label><b>Username</b></label>
			<input type="text" placeholder="Enter Username" name="uname" required>

			<label><b>E-mail</b></label>
			<input type="email" placeholder="you@example.com" name="email" required>

			<label><b>Password</b></label>
			<input type="password" placeholder="Enter Password" name="psw" required>

			<button type="submit">Sign up</button>
			<p id="accept">By clicking "Sign up", you agree to our <a id="privacy-policy" href="" target="_blank">terms of service</a> and <a id="privacy-policy" href="" target="_blank">privacy policy</a>.
			</p>

		</div>
	</form>



  </div>
  </body>
</html>


