<!DOCTYPE html>
<html lang="en">
  <head>

	  <meta charset="utf-8">
      <meta name="description" content="ChannelX anonymous chat application.">
      <meta name="author" content="ITU Software Engineering Course Group 3">
      <title>ChannelX</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <link href="/static/css/freelancer.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link href="/static/css/style.css" rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.png">
    <title>Join</title>
  </head>
  <body id="page-top">
<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
         <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">ChannelX</a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item mx-0 mx-lg-1">
                     <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/join">join</a>
                  </li>
                  <li class="nav-item mx-0 mx-lg-1">
                     <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/login">login</a>
                  </li>
                  <li class="nav-item mx-0 mx-lg-1">
                     <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/sign_up">sign up</a>
                  </li>
                  <li class="nav-item mx-0 mx-lg-1">
                     <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/terms_and_conditions">terms & conditions</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>

    <div class="container">
      <div class="row main">
        <div class="main-login main-center">
          <h5>Join an existing chat room.</h5>
          <form class="" method="post" action="{{ url_for('join') }}">
            <div class="form-group">
              <label for="Nickname" class="cols-sm-2 control-label">Nickname</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user-secret fa-lg" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="Nickname" id="Nickname"  placeholder="Enter your nickname."/>
                </div>
              </div>
              {{ Nickname_failure }}
            </div>
            <div class="form-group">
              <label for="Channel_Name" class="cols-sm-2 control-label">Channel Name</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-comments fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="Channel_Name" id="Channel_Name"  placeholder="Enter your channel name."/>
                </div>
              </div>
              {{ ChannelName_failure }}
            </div>
            <div class="form-group">
              <label for="Channel Password" class="cols-sm-2 control-label">Channel Password</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <input type="password" class="form-control" name="Channel_Password" id="Channel_Password"  placeholder="Enter channel password."/>
                </div>
              </div>
              {{ ChannelPassword_failure }}
            </div>
            <div class="form-group ">
              <button  type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button">Join</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
