<!DOCTYPE html>
<html lang="en">
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, reshrink-to-fit=no">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
      <link href="/static/css/freelancer.min.css" rel="stylesheet">
      <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.png">
   </head>
   <body id="page-top">
      <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
         <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">ChannelX</a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item mx-0 mx-lg-1">
                     <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/join">join</a>
                  </li>
                  <li class="nav-item mx-0 mx-lg-1">
                     <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/login">login</a>
                  </li>
                  <li class="nav-item mx-0 mx-lg-1">
                     <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/sign_up">sign up</a>
                  </li>
                  <li class="nav-item mx-0 mx-lg-1">
                     <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/user_panel">user panel</a>
                  </li>
                  <li class="nav-item mx-0 mx-lg-1">
                     <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/terms_and_conditions">terms & conditions</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <header class="masthead bg-primary text-white text-center">
         <div class="container">
            <img class="img-fluid mb-5 d-block mx-auto" src="/static/images/termsandconditions.png" alt="ChannelX">
            <h1 class="mb-0">Terms & Conditions</h1>
            <hr class="star-light">
            <h5 class="font-weight-light mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut ultrices lectus, et venenatis metus. Mauris egestas sem id auctor dignissim. Curabitur non tempus nibh. Praesent laoreet consectetur leo, dapibus molestie leo molestie ut. Pellentesque et lobortis lacus. Curabitur viverra ligula sit amet lectus mattis accumsan. Sed sollicitudin, sem et ultricies porta, mi mi pretium nisi, et congue dui dui id nulla. Integer lectus libero, elementum in interdum vel, tincidunt vel nulla. Aliquam ac mi mollis, aliquam orci a, laoreet erat. Nullam at mattis leo. Ut quis blandit orci. Vestibulum aliquet tincidunt lacus, ac tempor nisi fringilla a. </h2>
         </div>
      </header>
   </body>
</html>
